Flask==2.3.2  # Или любую другую стабильную версию Flask
requests==2.31.0 # Или любую другую стабильную версию requests

# Дополнительно, если вы использовали gunicorn для локального тестирования или захотите его для Render
# gunicorn